*, ::after, ::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

:root {
  --first-color-text: #000;
  --second-color-text: #4285f4;
  --third-color-text: #434455;
  --fourth-color-text: #2e2f42;
  --fifth-color-text: #f4f4fd;
  --color-white: #ffffff;
  --iris: #4d5ae5;
  --focus-color: #404bbf;
  
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--third-color-text);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container-header {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
.header-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  display: flex;
  max-width: 496px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.classpe {
  margin-bottom: 8px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


.contenttext {
  position: absolute;
  top: 0px;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  font-family: Roboto;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: var(--fifth-color-text);
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.forshadow:hover .contenttext,
.forshadow:focus .contenttext{
  transform: translateY(0%);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.studio-header {
  color: var(--fourth-color-text);
}

.header {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: flex;
  height: 72px;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color, background-color;

}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 40px;
  
}
.button {
  color: var(--iris);
  background-color: var(--fifth-color-text);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px
}

button:hover,
button:active,
button:focus {
  color: var(--color-white);
  background-color: var(--focus-color);
  border: 1px solid transparent;
}

.section {
  background-color: var(--fourth-color-text);
}

.header-cointainer {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
}

.button-click {
  background-color: #e7e9fc;
  color: var(--iris);
  padding: 12px 24px;
  height: 56px;
  border-radius: 4px;
  display: block;
  border: 1px solid #e7e9fc;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

  .button-click:hover,
  .button-click:focus {
  color: var(--color-white);
  background-color: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
  }



  .portfolio-button:hover,
  .portfolio-button:focus {
    color: var(--color-white);
    background-color: var(--focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.uxlist {
  margin: 0;
  font-size: 18px;
  width: 360px;
}

.uxlist:hover {
      box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ux-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
}

.button-header {
  background-color: var(--iris);
  color: var(--color-white);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  margin: 50px auto 0;
  display: block;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-buttons {
  font-size: 16px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-menu-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

a:active,
a:hover,
a:focus {
  color: var(--focus-color);
}

.header-app {
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--fourth-color-text);
  margin-bottom: 8px;
}
  .contentimg {
    position: relative;
    overflow: hidden;
}


.doing {
  padding-bottom: 120px;
}
.what-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--fourth-color-text);
  margin-bottom: 72px;
}
.doing-list {
  list-style: none;
  display: flex;
  margin: 0 10px;
  justify-content: center;
  gap: 24px;
}
.doing-img {
  display: block;
}
.team-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 32px 0;
}
.values {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--iris);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.footer-footer {
  background-color: var(--fourth-color-text);
  color: var(--color-white);
  height: 312px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fifth-color-text);
  max-width: 264px;
}

.link,
.forshadow {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.forshadow:hover, 
.forshadow:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.footer-link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.contact,
.text-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-color-text);
}

.highlight {
  color: var(--fifth-color-text);
}
.what-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--fourth-color-text);
}

.address {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.address-list {
  list-style: none;
  display: flex;
  margin: 0 10px;
  justify-content: center;
  gap: 40px;
  align-items: center;
  
}

.index-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--focus-color);
  gap: 40px;
  display: flex;
  padding: 24px 0;
  position: relative;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
} 

.index-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--focus-color);
}



.team {
  background-color: var(--fifth-color-text);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--fourth-color-text);
  margin-bottom: 72px;
}
.staff {
  height: 380px;
  min-width: 1128px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
  margin-top: 30px;
  text-align: center;
}
.team-list {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  height: 424px;
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one {
  background-color: var(--fourth-color-text);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  max-width: 1440px;
}
.section-two {
  padding: 120px 0;
  display: flex;
  gap: 24px;
}
.icons {
  background: #f4f4fd;
  padding-block: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-symbols{
  display: block;
  margin: auto;
  
}
.icon-socials {
  display: block;
  fill: #f4f4fd;
}


.circle {
  width: 40px;
  height: 40px;
}
.icon-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  
 
  
}
.icon-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-socials-link:hover,
.icon-socials-link:focus {
background-color: #404bbf;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  
}
.customers-customers{
  display: flex;
  justify-content: center;
  gap: 24px;
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-customers {
  margin: 16px 32px;
  fill: currentColor;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}
.customer-link:hover,
.customer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}



.icon.customers {
  margin: 16px 32px;
  fill: currentColor;
}
.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  width: 100%;
  height: 100%;
    
}

.footer {
  display: flex;
  align-items: baseline;
  height: 40px;
}
.container-footer {
  margin-right: 120px;
}

.container-text {
  margin-right: 120px;
}

.footer-social-icons-link {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icons-link:hover, 
.footer-social-icons-link:focus {
  background-color: #31d0aa;
}

.footer-social-links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer-social-icons {
  height: 40px;
  width: 40px;
}

.footer-class {
  background-color: var(--fourth-color-text);
  color: var(--color-white);
  height: 312px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-footer {
  margin-right: 120px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #FCFCFC;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: var(--fourth-color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  border: none;
}
  

.close-btn:focus {
  border: none;
  fill: var(--color-white);
}

.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.open-modal {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background: #9da4bd;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  font-size: 16px;
}

.open-modal:hover {
  opacity: 0.8;
}

.link-active {
  position: relative;
  color: var(--focus-color);
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--focus-color);
}

.close-xbutton {
  transition-duration: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}