*, ::after, ::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

:root {
  --first-color-text: #000;
  --second-color-text: #4285f4;
  --third-color-text: #434455;
  --fourth-color-text: #2e2f42;
  --fifth-color-text: #f4f4fd;
  --color-white: #ffffff;
  --iris: #4d5ae5;
  --focus-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--third-color-text);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container-header {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
}
.header-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  display: flex;
  max-width: 496px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.studio-header {
  color: var(--fourth-color-text);
}

.header {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: flex;
  height: 72px;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 40px;
}
.button {
  color: var(--iris);
  background-color: var(--fifth-color-text);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px
}

button:hover,
button:active,
button:focus {
  color: var(--color-white);
  background-color: var(--focus-color);
  border: 1px solid transparent;
}

.section {
  background-color: var(--fourth-color-text);
}

.header-cointainer {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
}

.button-click {
  background-color: #e7e9fc;
  color: var(--iris);
  padding: 12px 24px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  display: block;
  border: 1px solid #e7e9fc;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.uxlist {
  width: 360px;
}

.ux-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
  text-align: left;
}

.button-header {
  background-color: var(--iris);
  color: var(--color-white);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  margin: 50px auto 0;
  display: block;
  border: none;
}
.section-buttons {
  font-size: 16px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-menu-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

a:active,
a:hover,
a:focus {
  color: var(--focus-color);
}

.header-app {
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--fourth-color-text);
  margin-bottom: 8px;
}

.doing {
  padding-bottom: 120px;
}
.what-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--fourth-color-text);
  margin-bottom: 72px;
}
.doing-list {
  list-style: none;
  display: flex;
  margin: 0 10px;
  justify-content: center;
  gap: 24px;
}
.doing-img {
  display: block;
}
.team-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 32px 0;
}
.values {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--iris);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.footer-class {
  background-color: var(--fourth-color-text);
  color: var(--color-white);
  height: 312px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fifth-color-text);
  max-width: 264px;
}

.link {
  text-decoration: none;
}
.footer-link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.contact,
.text-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-color-text);
}

.highlight {
  color: var(--fifth-color-text);
}
.what-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--fourth-color-text);
}

.address {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  margin-left: auto;
}
.address-list {
  list-style: none;
  display: flex;
  margin: 0 10px;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.index-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fourth-color-text);
  gap: 40px;
  display: flex;
  padding: 24px 0;
}

.team {
  background-color: var(--fifth-color-text);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--fourth-color-text);
  margin-bottom: 72px;
}
.staff {
  height: 380px;
  min-width: 1128px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
  margin-top: 30px;
  text-align: center;
}
.team-list {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  height: 380px;
  text-align: center;
}

.section-one {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  max-width: 1440px;
}
.section-two {
  padding: 120px 0;
  display: flex;
  gap: 24px;
}
.icons {
  background: #f4f4fd;
  padding-block: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-symbols{
  display: block;
  margin: auto;
}
.icon-socials {
  display: block;
  fill: #f4f4fd;
  margin: auto;
  width: 40px;
  height: 40px;
  padding: 12px;
}
.icon-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding-top: 8px;
}
.icon-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.customers-customers{
  display: flex;
  justify-content: center;
  gap: 24px;
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-customers {
  margin: 16px 32px;
  fill: currentColor;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}

.clients-link:hover,
.clients-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

